@font-face {
    font-family: 'Jost';
    font-display: swap;
    src:    url('../assets/fonts/Jost-VariableFont_wght.woff2') format("woff2"),
            url('../assets/fonts/Jost-VariableFont_wght.woff') format("woff"),
            url('../assets/fonts/Jost-VariableFont_wght.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}