$whiteColor: #FFFFFF;
$blackColor: #000000;
$redColor: #F14F4F;
$darkRedColor: #8C2828;
$pinkColor: #F8AFAF;
$darkGreyColor: #444B58;
$greyColor:  #C4C4C4;
$lightGreyColor: #F6F6F6;
$softGreyColor: #B2B5BB;
$hoverGreyColor: #878787;
$extraGreyColor: #646464;
$violetColor: #484283;